# Core Machine Learning & Deep Learning
tensorflow-cpu==2.21.0
keras==3.14.0

# Data Manipulation & Analysis
numpy==2.4.4
pandas==3.0.2
scipy==1.17.1

# Visualization
matplotlib==3.10.9
seaborn==0.13.2

# Model Evaluation & Image Processing
scikit-learn==1.8.0
pillow==12.2.0

# Development & Interactive Testing
jupyter
ipykernel
gradio
